@import "../node_modules/bootstrap/scss/functions";

// NERACOOS COLORS
$blue: rgba(8, 61, 82, 1);                      // #083d52
$black: rgba(33, 37, 41, 1);                    // #212529
$white: rgba(255, 255, 255, 1);                 // #FFFFFF
$orange: rgba(255, 174, 109, 1);                // #FFAE6D
$green: rgba(42, 183, 143, 1);                  // #2AB78F
$seaweed: rgba(23, 133, 150, 1);                // #178596
$yellow: rgba(255, 205, 34, 1);                 // #FFCD22
$bootstrap-red: rgba(220, 53, 69, 1);           // #DC3545

// THEME
$primary: $blue;
$secondary: $black;
$info: $seaweed;
$success: $green;
$warning: $yellow;
$danger: $bootstrap-red;

$theme-colors: (
  "orange": $orange,
  "white": $white,
  "primary": $primary,
  "secondary": $secondary,
  "info": $info, 
  "success": $success,
  "warning": $warning,
  "danger": $danger
);
$font-family-base: Helvetica, Arial, sans-serif;
$grid-gutter-width: 1.25rem;
$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.50rem,
  3: 0.75rem,
  4: 1.00rem,
  5: 1.25rem,     // 20px
  6: 1.50rem,
  7: 1.75rem,
  8: 2.00rem,
  9: 2.25rem,
  10: 2.50rem     // 40px
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";

// ========== TYPOGRAPHY START ========== 
h1, h2, h3 {
  line-height: 1.875rem;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

// Call this paragraph bold and caption bold
strong {
  font-weight: 700;
}

// Custom class for the caption font
.caption {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

a {
font-weight: 400;
font-size: 1rem;
line-height: 1.5rem;
text-decoration-line: underline;
color: $primary;
}
// ========== TYPOGRAPHY END ========== 

// =========== NAVBAR START =========== 
.navbar .navbar-brand {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;  
  color: $white;
}

.navbar .nav-link {
  color: $white;
  opacity: 0.55;
}

.navbar .nav-link:hover {
  opacity: 1.00;
}

.dropdown-menu {
  background-color: $white;
  border-width: 1px;
  border-color: $primary;
}

.navbar .dropdown-menu .dropdown-item {
  color: $primary;
  opacity: 0.55;
}
.navbar .dropdown-menu .dropdown-item:hover {
  opacity: 1.00;
  color: $white;
}
// =========== NAVBAR END =========== 

// ======= PLATFORM MAP START ======= 
.platform-map {
    min-height: 40vh;

  @include media-breakpoint-up(md){
    min-height: 520px;
  }  
}
// ======= PLATFORM MAP END ======= 

.superlative-header, footer {
  background-color: rgba($secondary, 0.05);
}

.condition-tooltip > div > div {
  background-color: $blue;
}

.condition-tooltip > div.tooltip > span.arrow::before {
  border-top-color: $blue;
  border-bottom-color: $blue;
}

.btn-blue {
  @include button-variant($blue, $blue, $active-background: $blue);
}

.tooltip-inner a {
  color: $green;
}

.map .ol-zoom {
  top: 10px;
  left: auto;
  right: 10px;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: 12px;
  position: relative;
}

.pred-legend-item {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  height: 15px;
}

.obs-legend-color {
  border-radius: 5px;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.pred-legend-color {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.legend-container {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  width: 130px;
  margin-top: -5px;
}

.legend-dropdown {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
  margin-right: 10px;
  display: flex;
  max-width: 120px;
}

.legend-dropdown.active {
  background-color: #ffffff00;
}

.dropdown-menu.show.legend-dropdown-menu {
  background-color: #ffffff00;
  border: none;
}

.dropdown-item.legend-dropdown-item {
  padding: 0;
  background-color: #ffffff00;
  width: 120px;
}

.map-popup-custom {
  z-index: 10;
  background-color: #00000095;
  color: #ffffff;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  // cursor:
}

.chart-display {
  width: 60vw;
}

.datum-radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 5px;
}

.timeframe-label {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.timeframe-card {
  width: fit-content;
  padding: 8px;
  margin-top: 5px;
  vertical-align: middle;
  margin-bottom: 20px;
}

.observation-title-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.obervation-title {
  grid-column: 2;
  justify-self: center;
}

.observation-timeframe-selector {
  grid-column: 3;
  justify-self: end;
}

@media (max-width: 1300px) {
  .timeframe-card {
    margin-left: 20px;
  }
}

@media (max-width: 1040px) {
  .chart-display {
    width: 100%;
  }
  .observation-title-container {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .obervation-title {
    grid-column: 1;
  }
  .observation-timeframe-selector {
    justify-self: center;
    grid-column: 1;
  }
  .timeframe-card {
    margin: 0;
  }
}

@media (max-width: 500px) {
  .timeframe-card .main {
    width: 95%;
  }
  .timeframe-label {
    flex-direction: column;
    margin: 0;
  }
  #revert-default-date {
    margin-left: -20px;
  }
}
